body {
    background-image: url(../media/background.jpg);
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
 }
 .posFixed{
 	padding: 10px;
 		width: 100%;
 		background-color: #A9A9A9;
 		position:fixed;
 		left: 0px;
		bottom:5px;
 }
 .newspaper {
 	columns:100px 3;
 	-webkit-columns:100px 3; /* Safari and Chrome */
 	-moz-columns:100px 3; /* Firefox */
 }
 .notShown {
 	 display: none;
	 visibility:hidden;	 
 }
 img.floatRight { 
 	float: right; 
 	margin: 4px; 
 }

 div#container {
    width: 80%;
    min-width: 600px;
    background-color:#FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: thin solid #000000;
 }
 header {
    background-color: #A9A9A9;
    padding: 15px;
    margin: 0px;
    text-align: center;
    border-bottom: thin dashed;
 }
 div#banner{
    color: #FFF;
    text-align: left;
 }
 div#topnav{
    text-align: right;
 } 
 div#topnav a {
 font-weight:bold; color:#FFF;
 text-decoration: none;
 
 }
 div#menu {
    width: 15%;
    min-width: 100px;
    max-width: 150px;
    padding: 10px;
    float: left;
 }
 div#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 div#menu a{
display:block;
font-weight:bold;
color:#000;
padding:4px;
text-decoration:none;
text-transform:uppercase;
 }
 div#content {;
    margin-left: 20%;
    margin-top: 1px;
    padding: 10px 30px 10px 10px;
 }
 footer {
    clear: both;
    padding: 15px;
    margin: 0px;
    border-top: double #000000;
 }
 div#contact{
    float: left;
    width: 200px;
 }
 div#footnav{
    text-align: right;
 }
 div#footnav a{
    color: #000;
    font-weight: bold;
    text-decoration:none;
 }
 div.clear{
    clear:both;
 }
