body {
    background-image: url(../media/background.jpg);
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
 }
 div#container {
    width: 80%;
    min-width: 600px;
    background-color:#FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: thin solid #000000;
 }
 header {
    background-color: #A9A9A9;
    padding: 15px;
    margin: 0px;
    text-align: center;
 }
 div#banner{
    color: #FFF;
    text-align: left;
 }
 div#topnav{
    text-align: right;
 } 
 div#topnav a {
 font-weight:bold; color:#FFF;
 text-decoration: none;
 }
 div#menu {
    width: 15%;
    min-width: 100px;
    max-width: 150px;
    padding: 10px;
    float: left;
 }
 div#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 div#menu a{
display:block;
font-weight:bold;
color:#000;
xbackground-color:#98bf21;
xtext-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;

 }
 div#content {;
    margin-left: 20%;
    margin-top: 1px;
    padding: 10px 30px 10px 10px;
 }
 footer {
    clear: both;
    padding: 15px;
    margin: 0px;
    border-top: thin solid #000000;
 }
 div#contact{
    float: left;
    width: 200px;
 }
 div#footnav{
    xwidth: auto; 
    text-align: right;
 }
 div#footnav a{
    color: #000;
    font-weight: bold;
    text-decoration:none;
 }
 div.clear{
    clear:both;
 }
