body {
    background-image: url(../media/background.jpg);
    font-size:12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
 }
 .posFixed{
 	padding: 10px;
 		width: 100%;
 		background-color: #A9A9A9;
 		position:fixed;
 		left: 0px;
		bottom:5px;
 }
 .newspaper {
 	columns:100px 3;
 	-webkit-columns:100px 3; /* Safari and Chrome */
 	-moz-columns:100px 3; /* Firefox */
 }
 .newspaper p{
    margin: 0;
 }
 .notShown {
 	 display: none;
	 visibility:hidden;	 
 }
 img.floatRight { 
 	float: right; 
 	margin: 4px; 
 }

 div#container {
    width: 80%;
    min-width: 600px;
    background-color:#FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: thin solid #000;
 }
 header {
    font-family: rockwell, "Times New Roman", serif;
    background-color: #A9A9A9;
    padding: 15px;
    padding-bottom: 5px;
    margin: 0px;
    text-align: center;
    border-bottom: thin solid #000;
 }
 div#banner{
    color: #FFF;
    text-align: left;
 }
 /*** Navigation ***/
 /** Top Nav**/
 div#topnav{
    text-align: right;
    color: #FFF;
 } 
 div#topnav a{
    cursor: pointer;
    color: #FFF;
 }
 div#topnav a:link, a:visited {
    font-weight:bold; 
    color:#FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
 }
 div#topnav a:hover, a:active {
 background-color: #808080;
 }
 /** Menu (side) Nav **/
 div#menu {
    width: 150px;
    float: left;
 }
 div#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 div#menu a{
    cursor: pointer;
    display:block;
    font-weight:bold;
    color:#000;
    padding:10px;
    text-decoration:none;
    text-transform:uppercase;
    border: thin solid #A9A9A9;
 }
 div#menu a:hover, a:active {
    background-color: #A9A9A9;
    border: thin solid #000;
 }
 /** Footer Nav **/
 div#footnav{
    text-align: right;
 }
 div#footnav a{
    cursor: pointer;
    color: #000;
    font-weight: bold;
    text-decoration:none;
 }
 div#content {;
    margin-left: 150px;
    margin-top: 1px;
    padding: 10px 20px 10px 10px;
 }
 footer {
    clear: both;
    padding: 15px;
    margin: 0px;
    border-top: thin solid #000;
 }
 div#contact{
    float: left;
    width: 200px;
 }
 div.clear{
    clear:both;
 }
