
#wrapper { width: 80%; margin-top 50px; margin-bottom 50px; margin-left:auto; margin-right: auto; }
header { background: url(./media/header_bg_blue.gif) repeat-x left top #0c4a7b; height 400px  }
#banner { }
#topnav { background-color: #5480A2; height 20px;}
#leftside { background-color: #FFF; height:200px; width:100px; float:left;  }
#content { background-color: #EEE; height:200px; width:400px; float:left; }
footer { background-color: #FFA500; clear: both;}
footer #contact { background-color: #0c4a7b: width: 200px; float:left;}
footer #footnav { background-color: #0c4555: width: 700px; float:left;}
